$color-main: #363636;
$color-orange: #fb9030;
$color-gray: #a8a8a8;
$color-white: #ffffff;

$bg-color-main: #f2f2f2;
$bg-color-white: #ffffff;
$bg-color-orange: #fb9030;

$bd-color-main: #e5e5e5;

.mint-msgbox-wrapper{
  position: fixed !important;
  z-index: 9999 !important;
}

.mint-msgbox{
  width: 5.4rem !important;
  z-index: 9999999 !important;
  // height: 2.6rem;
  border-radius: 0.26rem !important;
  .mint-msgbox-content{
    display: flex;
    // height: 1.74rem;
    // padding: 0 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-color: $bd-color-main;
    .mint-msgbox-message{
      font-size: 0.3rem;
      color: $color-main;
      line-height: 24px;
      width: 100%;
      white-space: pre-line;
    }
    .mint-msgbox-input{
      width: 100%;
      padding: .1rem 0;
      margin: .15rem 0;
      line-height: 1.5;
      border:1px solid rgba(198,198,198,1);
      & input{
        color: #D09E54;
      }
    }
    .mint-msgbox-errormsg{
      display: none;
    }
  }
  .mint-msgbox-btns{
    height: 0.88rem;
    font-size: 0.34rem;
    .mint-msgbox-cancel{
      color: $color-main;
      border-right-color: $bd-color-main;
    }
    .mint-msgbox-confirm{
      color: $color-orange;
    }
  }
}

.mint-toast{
  display: flex;
  min-height: 0.9rem;
  padding: .2rem 0.56rem !important;
  align-items: center;
  max-width: 20rem;
  .mint-toast-text{
    width: 100%;
    display: inline-block;
    font-size: 0.3rem;
    color: #ffffff;
    overflow: hidden;
  }
}
