$color-main: #363636;
$color-gold: #d09e54;
$color-gray: #a8a8a8;
$color-white: #ffffff;
$color-red: #f63337;

$bg-color-main: #f2f2f2;
$bg-color-white: #ffffff;
$bg-color-gray: #e5e5e5;

$bd-color-main: #e5e5e5;

$bg-btn-d: #d8d8d8;
